<div class="row">
    <div class="col-lg-12 col-xs-2">
        <button class="btn btn-link" ng-click="testRotate()">Test Rotate</button>
    </div>
    <div class="col-lg-12 col-xs-2">
        <button class="btn btn-link" ng-click="testWalk()">Test Walk</button>
    </div>
    <div class="col-lg-12 col-xs-2">
        <button class="btn btn-link" ng-click="testFight()">Test Fight</button>
    </div>
    <div class="col-lg-12 col-xs-2">
        <button class="btn btn-default" ng-click="changeDir()">Change dir</button>
    </div>
</div>
